.poojadetail .img-ratio{
    height:300px;
    width:600px
}
.pack-img{
    height: 100px;
    width: 100px;
}
.list-disc .list{
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    margin-left: 20px;
    margin-bottom: 20px;
}
.list-disc .list:last-child{
    margin-bottom: 0px;
}
.package .title{
    margin-bottom: 5%;
}
.package-light-btn{
    background-color: #FCEEE8;
    color: #DD531B;
    
}
.active-package{
    border: 3px solid #DD531B;
    margin-top: -5%;
    background-color: #DD531B;
    color: #fff;
  }
  .active-package .top-card {
    color: #000;
  }
  .active-package  .package-dark-btn{
    background-color: #000000;
    color: #ffffff;
    
}
.qr{
    display: block;
    height: 140px;
    width: 100px;
}
.qr img{
    height: 100%;
    width: 100%;
}
.isuccess{
    color: green;
    position: absolute;
    right: 2px;
    top: 0;
}
/* .date-img{
    height: 200px;
    width: 100%;

} */
.date-img img{
    height: 100%;
    width: 100%;
}
@media (max-width:1025px){
    .active-package {
        border: 3px solid #dd531b;
        margin-top: 0;
    }    
}