@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary:#E5644E;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-roboto), sans-serif;
  font-family: "Geist", sans-serif;
}

@font-face {
  font-family: "Geist";
  src: url("/fonts/Geist.woff2") format("woff2");
}

.splide__slide {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s ease-in-out;
}

/* Default slide styling */
.slide-item {
  background: #3498db;
  color: white;
  padding: 40px;
  text-align: center;
  
 border-radius: 40px;
  height: 350px; /* Default height */
  transition: all 0.4s ease-in-out;
  opacity: 0.6; /* Default transparency */
  filter: blur(1px); /* Blur effect on side slides */
}

/* Make the center slide bigger */
.splide__slide.is-active .slide-item {
  transform: scale(1.4);
  width: 1000px; /* Increase width */
  height: 380px; /* Increase height */
  opacity: 50; /* Fully visible */
  filter: blur(0); /* Remove blur effect */
  background: #e74c3c; /* Highlighted color */
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}
.p-80{
  padding:80px 0
}
.p-60{
  padding:60px 0
}
.p-30{
  padding:30px 0
}
.bg-grey{
  background-color: #F9F9F9;
}
.title{
  font-size: 30px;
  line-height: 38px;
  margin-bottom: 10px;
  font-weight: 600;
}
.ul-list{
  list-style: disc;
  margin-left: 25px;
}
.ul-list li {
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 26px;
}
.content p{
  color: #171717;
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 20px;
}
footer{
  /* background-color: antiquewhite; */
}
.red{
  color: #C70000;
}
.top-card{
  background-color: #c3cbdc;
background-image: linear-gradient(147deg, #ffffff 0%, #FFE2D7 74%);

}

.f-34{
  font-size: 34px;
  line-height:39px;
}
.f-26{
  font-size: 26px;
  line-height: 30px;
}
.f-30{
  font-size: 30px;
  line-height: 36px;
}
.common-btn{
  background-color: var(--primary);
}
@media (max-width:1200px){
  .f-34{
    font-size: 28px;
    line-height:39px;
  }
  .f-26{
    font-size: 20px;
    line-height: 30px;
  }
  .f-30{
    font-size: 26px;
    line-height: 36px;
  }
}

.splide__pagination {
  position: relative !important; /* Ensures it stays below */
  margin-top: 7px; /* Adjust as needed */
  display: flex !important;
  justify-content: center;
  gap: 8px;
 
  border: #0a0a0a 2px;
}

.splide__pagination__page {
  width: 18px;

  height: 18px;
  background-color: rgb(99, 94, 93) !important; /* Set the dot color */
  border-radius: 50%;
 
  transition: background-color 0.3s ease;
}

.splide__pagination__page.is-active {
  background-color: rgb(203, 64, 4) !important; /* Highlight the active dot */
 
}


